.git
.github
.gitignore
.gitattributes

vendor
node_modules

.env
.env.*
!.env.example

storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
storage/app/public/*
!storage/**/.gitignore

tests
phpunit.xml
phpstan.neon
phpstan-baseline.neon
.phpunit.cache
.phpunit.result.cache

.editorconfig
.prettierrc
.prettierignore
eslint.config.js
components.json

docker-compose.yml
docker-compose.prod.yml
Dockerfile
README.md
DECISIONES.md

*.xlsx
*.html
